<li class="nav-item nested-fields">
  <a class="nav-link active class_file_tab" data-toggle="tab" href="#class_file_<%= f.object.id %>" role="tab">
    <%= f.text_field :filename, readonly: true %>
    <%= f.hidden_field :code %>
  </a>
    <%= link_to_remove_association 'X', f %>
</li>
