<li class="nav-item nested-fields">
  <%= f.input_field :visible, as: :boolean , class: 'class_file_visible' %>
  <%= f.text_field :filename, value: 'Classname.java', readonly: true, class: 'class_file_name editable' %>
  <%= f.hidden_field :code %>
</li>