<li class="nav-item nested-fields">
  <%= f.input_field :visible, as: :boolean %>
  <%= f.text_field :filename, value: 'Double click to rename', readonly: true, class: 'class_file_name' %>
  <%= f.hidden_field :code %>
</li>