<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h5><%= t('footer.select_language') %></h5>
        <ul class="language-picker">
          <li><%= link_to "Deutsch", locale_path('de') %></li>
          <li><%= link_to "English", locale_path('en') %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>