<nav class="navbar navbar-light bg-faded">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
      &#9776;
    </button>
    <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
      <%= link_to "Educoding", root_path, class: "navbar-brand" %>
      <ul class="nav navbar-nav current-user">
        <li class="nav-item active dropdown">
          <% if logged_in? %>
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.firstname %></a>
          <% end %>
          <div class="dropdown-menu">
            <%= link_to t('links.logout'), logout_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>