<h1>Welcome to educoding</h1>

<%= link_to t('links.login') , login_path, method: "get", class: "btn btn-secondary" %>
<%= link_to t('links.sign_up') , signup_path, method: "get", class: "btn btn-primary" %>