/* 
*= require_self
*= require_tree .
*/

// override the default bootstrap variables
@import "bootstrap-variables";

// bootstrap core
@import "bootstrap";

h1 {
  padding: 1rem 0;
}

h2 {
  padding: .9rem 0;
}
h3 {
  padding: .8rem 0;
}
h4 {
  padding: .7rem 0;
}
h5 {
  padding: .6rem 0;
}

h6 {
  padding: .5rem 0;
}

h1, h2, h3, h4, h5 ,h6 {
  margin-bottom: 0;
}

.alert {
    list-style-type: none;
}

footer {
  background-color: $gray-dark;
  color: $gray-lighter;
  margin-top: 15px;
  a {
    color: $gray-lighter;
  }

  a:hover {
    color: darken($gray-lighter, 15%);
    text-decoration: none;
  }
}

.language-picker {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  position: relative;
}